<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.tradingplatform.mapper.ForumMapper">
    <!--添加组团信息-->
    <insert id="add" parameterType="com.wang.tradingplatform.pojo.entity.TeamUp" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO teamup (id, type, title, leader, start_time,leader_name,people_number)
        VALUES (#{id},#{type},#{title},#{leader},#{startTime},#{leaderName},#{peopleNumber})
    </insert>
    <!--添加圈子动态信息-->
    <insert id="addDynamic">
        INSERT INTO circle(user_id,type,content,category)VALUES(#{userId},#{type},#{content},#{category})
    </insert>
    <!--添加发布任务信息-->
    <insert id="addTask">
        INSERT INTO circle (user_id,type,bounty,request_content,note,category) VALUE
        (#{userId},#{type},#{bounty},#{requestContent},#{note},#{category})
    </insert>
    <!--添加创建活动信息-->
    <insert id="addActivity">
        INSERT INTO circle (user_id,title,picture,start_time,end_time,category) VALUE
        (#{userId},#{title},#{picture},#{startTime},#{endTime},#{category})
    </insert>
    <!--组团评论-->
    <insert id="addComment" parameterType="com.wang.tradingplatform.pojo.entity.Comment">
        INSERT INTO comment_teamup(teamup_id, parent_id, text, picture, son, create_time, user_id, reply_user_id)
        VALUES (#{teamupId}, #{parentId}, #{text}, #{picture}, #{son}, #{createTime}, #{userId}, #{replyUserId})
    </insert>
    <!--圈子评论-->
    <insert id="addCommentCircle">
        INSERT INTO comment_circle(circle_id, parent_id, text, picture, son, create_time, user_id, reply_user_id)
        VALUES (#{circleId}, #{parentId}, #{text}, #{picture}, #{son}, #{createTime}, #{userId}, #{replyUserId})
    </insert>
    <!--圈子的点赞接口-->
    <insert id="setCircleLike">
        INSERT IGNORE INTO circle_like (user_id, circle_id) VALUES (#{currentUserId},#{circleId})
    </insert>
    <!--热门活动的点赞接口-->
    <insert id="setActivityLike">
        INSERT IGNORE INTO activity_like (user_id, activity_id) VALUES (#{currentUserId},#{activityId})
    </insert>
    <!--参加组团-->
    <insert id="join">
        INSERT INTO team_up_participate(teamUpId, userId) VALUES (#{teamUpId},#{currentUserId})
    </insert>
    <!--接受跑腿任务-->
    <insert id="acceptTask">
        INSERT INTO accept_task (userId, circleId)VALUES (#{currentUserId},#{circleId})
    </insert>
    <!--加入热门活动-->
    <insert id="joinActivity">
        INSERT INTO activity_join (userId, activityId)VALUES (#{currentUserId},#{activityId})
    </insert>
    <!--分页查询组团信息-->
    <select id="TeamUpPage" resultType="com.wang.tradingplatform.pojo.entity.TeamUp">
        select id, type, title, leader, start_time, create_at,leader_name
        from teamup
        <where>
            <!--suppress XmlUnresolvedReference -->
            <if test="type !=null and type !='' and type !='all'">
                type=#{type}
            </if>
        </where>
        <if test="sortRules != null and sortRules !=''">
            order by ${sortRules}
        </if>
    </select>
    <!--分页查询 圈子动态-->
    <select id="DynamicPage" resultType="com.wang.tradingplatform.pojo.entity.Circle">
        SELECT id, type,CONTENT,create_time FROM circle
        <!--查询 圈子 选项某一选项-->
        where category = 'Dynamics'
        <if test="sortRules != null and sortRules !=''">
            order by ${sortRules}
        </if>
    </select>
    <!--分页查询 发布任务-->
    <select id="TaskPage" resultType="com.wang.tradingplatform.pojo.entity.Circle">
        SELECT id, type, bounty, request_content, note, user_id, create_time
        FROM circle
        <!--查询 圈子 选项某一选项-->
        WHERE category = 'Task'
        <if test="sortRules != null and sortRules !=''">
            order by ${sortRules}
        </if>
    </select>


    <!--分页查询 创建活动-->
    <select id="ActivityPage" resultType="com.wang.tradingplatform.pojo.entity.Circle">
        SELECT id,user_id,title,picture,start_time,end_time FROM circle
        <!--查询 圈子 选项某一选项-->
        <where>
            category = 'Event'
        </where>
        <if test="sortRules != null and sortRules !=''">
            order by ${sortRules}
        </if>
    </select>
    <!--组团模糊搜索-->
    <select id="searchTeamUp" resultType="com.wang.tradingplatform.pojo.entity.TeamUp">
        SELECT teamup.id,
        teamup.type,
        teamup.title,
        teamup.leader,
        teamup.start_time,
        teamup.create_at,
        teamup.update_at,
        teamup.leader_name
        FROM teamup
        <where>
            <if test="keyword != null and keyword != ''">
                title LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
    </select>
    <!--圈子动态模糊搜索-->
    <select id="searchDynamic" resultType="com.wang.tradingplatform.pojo.entity.Circle">
        SELECT id, type,CONTENT,create_time FROM circle
        <where>
            category='Dynamics'
            <if test="keyword != null and keyword != ''">
                AND CONTENT LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
    </select>
    <!--发布任务模糊搜索-->
    <select id="searchTask" resultType="com.wang.tradingplatform.pojo.entity.Circle">
        SELECT id,type,bounty,request_content,note,user_id,create_time FROM circle
        <where>
            category='Task'
            <if test="keyword != null and keyword != ''">
                AND request_content LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
    </select>
    <!--创建活动模糊搜索-->
    <select id="searchActivity" resultType="com.wang.tradingplatform.pojo.entity.Circle">
        SELECT id,user_id,title,picture,start_time,end_time FROM circle
        <where>
            category='Event'
            <if test="keyword != null and keyword != ''">
                AND title LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
    </select>
    <!--我的参与 组团-->
    <!--JoinTeamUp表用来存储某个用户参与了那个组团-->
    <select id="myJoin" resultType="com.wang.tradingplatform.pojo.entity.TeamUp">
        SELECT
        t.id,
        t.type,
        t.title,
        t.leader,
        t.start_time,
        t.create_at,
        t.update_at,
        t.leader_name,
        t.people_number
        FROM teamup t
        JOIN team_up_participate tp
        ON t.id = tp.teamUpId
        WHERE tp.userId = #{userId}
    </select>
    <!--我的创建 组团-->
    <select id="myCreate" resultType="com.wang.tradingplatform.pojo.entity.TeamUp">
        SELECT
        id,
        type,
        title,
        leader,
        start_time,
        create_at,
        update_at,
        leader_name
        FROM teamup WHERE leader=#{currentUserId}
    </select>
    <!--根据组团id查询对应的详细信息-->
    <select id="detailedTeamUp" resultType="com.wang.tradingplatform.pojo.entity.TeamUp">
        SELECT t.id,
        t.type,
        t.title,
        t.leader,
        t.start_time,
        t.create_at,
        t.leader_name,
        t.people_number,
        (SELECT COUNT(*)
        FROM team_up_participate tp
        WHERE tp.teamUpId = t.id) AS participateNumber,
        (SELECT COUNT(*)
        FROM team_up_participate
        WHERE userId =#{userId} AND teamUpId=#{id}) as joined
        FROM teamup t
        WHERE t.id = #{id}
    </select>
    <!--根据组团id查询对应的评论信息-->
    <select id="selectComment" resultType="com.wang.tradingplatform.pojo.vo.CommentVO">
        SELECT
        ct.id as id,
        ct.teamup_id as teamup_id,
        ct.parent_id as parent_id,
        ct.text as text,
        ct.picture as picture,
        ct.son as son,
        ct.create_time as create_time,

        ct.user_id as user_id,
        U1.avatar as user_avatar,
        U1.user_name as user_name,

        ct.reply_user_id as reply_user_id,
        U2.avatar as reply_user_avatar,
        U2.user_name as reply_user_name
        FROM comment_teamup AS ct
        LEFT JOIN user U1
        ON U1.user_id = ct.user_id
        LEFT JOIN user U2 ON U2.user_id = ct.reply_user_id
        WHERE ct.teamup_id=#{teamUpId}
    </select>
    <!--查询指定评论id的全部信息-->
    <select id="searchCommentById" resultType="com.wang.tradingplatform.pojo.vo.CommentVO">
        SELECT ct.id as id,
        ct.teamup_id as teamup_id,
        ct.parent_id as parent_id,
        ct.text as text,
        ct.picture as picture,
        ct.son as son,
        ct.create_time as create_time,

        ct.user_id as user_id,
        U1.avatar as user_avatar,
        U1.user_name as user_name,

        ct.reply_user_id as reply_user_id,
        U2.avatar as reply_user_avatar,
        U2.user_name as reply_user_name
        FROM comment_teamup AS ct
        LEFT JOIN user U1
        ON U1.user_id = ct.user_id
        LEFT JOIN user U2 ON U2.user_id = ct.reply_user_id
        WHERE ct.id=#{id}
    </select>
    <!--查看该id的评论的父评论的id-->
    <select id="searchCommentParentId" resultType="java.lang.Integer">
        SELECT parent_id FROM comment_teamup WHERE id=#{id}
    </select>
    <!--查看某条评论之前的所有互动（根据评论id向上追溯祖先评论链）-->
    <select id="selectCommentInteraction" resultType="com.wang.tradingplatform.pojo.vo.CommentVO">
        WITH RECURSIVE CommentPath AS (
        SELECT id,
        teamup_id,
        parent_id,
        text,
        picture,
        son,
        user_id,
        reply_user_id,
        create_time,
        0 AS level
        FROM comment_teamup
        WHERE id = #{commentId}

        UNION ALL

        SELECT c.id,
        c.teamup_id,
        c.parent_id,
        c.text,
        c.picture,
        c.son,
        c.user_id,
        c.reply_user_id,
        c.create_time,
        cp.level + 1 AS level
        FROM comment_teamup c
        INNER JOIN CommentPath cp ON c.id = cp.parent_id)
        SELECT cp.id AS id,
        cp.teamup_id AS teamup_id,
        cp.parent_id AS parent_id,
        cp.text AS text,
        cp.picture AS picture,
        cp.son AS son,
        cp.create_time AS create_time,
        cp.level AS level,
        cp.user_id AS user_id,
        U1.avatar AS user_avatar,
        U1.user_name AS user_name,
        cp.reply_user_id AS reply_user_id,
        U2.avatar AS reply_user_avatar,
        U2.user_name AS reply_user_name
        FROM CommentPath cp
        LEFT JOIN user U1 ON U1.user_id = cp.user_id
        LEFT JOIN user U2 ON U2.user_id = cp.reply_user_id
        ORDER BY cp.level DESC
    </select>
    <!--根据圈子id查询对应的评论信息-->
    <select id="selectCircleComment" resultType="com.wang.tradingplatform.pojo.vo.CommentCircleVO">
        SELECT
        ct.id as id,
        ct.circle_id as circle_id,
        ct.parent_id as parent_id,
        ct.text as text,
        ct.picture as picture,
        ct.son as son,
        ct.create_time as create_time,

        ct.user_id as user_id,
        U1.avatar as user_avatar,
        U1.user_name as user_name,

        ct.reply_user_id as reply_user_id,
        U2.avatar as reply_user_avatar,
        U2.user_name as reply_user_name
        FROM comment_circle AS ct
        LEFT JOIN user U1
        ON U1.user_id = ct.user_id
        LEFT JOIN user U2 ON U2.user_id = ct.reply_user_id
        WHERE ct.circle_id=#{circleId}
    </select>
    <!--查看该评论之前的所有互动-->
    <select id="selectCircleCommentInteraction" resultType="com.wang.tradingplatform.pojo.vo.CommentCircleVO">
        WITH RECURSIVE CommentPath AS (
        SELECT id,
        circle_id,
        parent_id,
        text,
        picture,
        son,
        user_id,
        reply_user_id,
        create_time,
        0 AS level
        FROM comment_circle
        WHERE id = #{commentId}

        UNION ALL

        SELECT c.id,
        c.circle_id,
        c.parent_id,
        c.text,
        c.picture,
        c.son,
        c.user_id,
        c.reply_user_id,
        c.create_time,
        cp.level + 1 AS level
        FROM comment_circle c
        INNER JOIN CommentPath cp ON c.id = cp.parent_id)
        SELECT cp.id AS id,
        cp.circle_id AS circle_id,
        cp.parent_id AS parent_id,
        cp.text AS text,
        cp.picture AS picture,
        cp.son AS son,
        cp.create_time AS create_time,
        cp.level AS level,
        cp.user_id AS user_id,
        U1.avatar AS user_avatar,
        U1.user_name AS user_name,
        cp.reply_user_id AS reply_user_id,
        U2.avatar AS reply_user_avatar,
        U2.user_name AS reply_user_name
        FROM CommentPath cp
        LEFT JOIN user U1 ON U1.user_id = cp.user_id
        LEFT JOIN user U2 ON U2.user_id = cp.reply_user_id
        ORDER BY cp.level DESC

    </select>
    <!--圈子动态详细信息-->
    <select id="detailedDynamicUpdates" resultType="com.wang.tradingplatform.pojo.entity.Circle">
        SELECT id,
        user_id,
        type,
        content,
        create_time,
        update_time,
        category,
        (SELECT COUNT(*) FROM circle_like WHERE circle_id = #{id}) like_number,
        (SELECT COUNT(*) FROM circle_like WHERE circle_id = #{id} AND user_id = #{currentUserId}) is_like
        FROM circle
        WHERE id = #{id}
    </select>
    <!--跑腿任务详细信息-->
    <select id="detailedTaskUpdates" resultType="com.wang.tradingplatform.pojo.entity.Circle">
        SELECT id,
        user_id,
        type,
        bounty,
        request_content,
        note,
        create_time,
        category,
        (SELECT COUNT(*) FROM accept_task WHERE circleId = #{id}) as total,
        (SELECT COUNT(*) FROM circle_like WHERE user_id = #{currentUserId} AND circle_id = #{id}) AS is_like,
        (SELECT COUNT(*) FROM circle_like WHERE circle_id = #{id}) AS like_number
        FROM circle
        WHERE id = #{id}
    </select>
    <!--热门活动详细信息-->
    <select id="detailedActivityUpdates" resultType="com.wang.tradingplatform.pojo.entity.Circle">
        SELECT id,
        user_id,
        type,
        title,
        picture,
        start_time,
        end_time,
        create_time,
        category,
        (SELECT COUNT(*) FROM activity_join WHERE activityId = #{id} AND userId = #{currentUserId}) AS participant,
        (SELECT COUNT(*) FROM activity_join WHERE activityId = #{id}) AS NumberOfParticipants,
        (SELECT COUNT(*) FROM circle_like WHERE circle_id = #{id}) AS like_number,
        (SELECT COUNT(*) FROM circle_like WHERE circle_id = #{id} AND user_id = #{currentUserId}) AS is_like
        FROM circle
        WHERE id = #{id}
    </select>
    <!--查看我参加的圈子-->
    <select id="myParticipateCircle" resultType="com.wang.tradingplatform.pojo.entity.Circle">
        SELECT id,
        user_id,
        type,
        content,
        bounty,
        request_content,
        note,
        title,
        picture,
        start_time,
        end_time,
        create_time,
        update_time,
        category
        FROM circle
        WHERE id IN (SELECT circle_id FROM join_circle WHERE user_id = #{currentUserId})
    </select>
    <!--根据id列表查询对应的简略信息-->
    <select id="selectSimpleInfoByList" resultType="com.wang.tradingplatform.pojo.entity.Circle">
        SELECT id,title,category FROM circle WHERE id in
        <foreach collection="idList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <!--看还有没有剩下的人数-->
    <select id="selectLeft" resultType="com.wang.tradingplatform.pojo.entity.TeamUp">
        SELECT people_number,(SELECT count(*) FROM team_up_participate WHERE teamUpId=#{teamUpId}) as participate_number
        FROM teamup WHERE id=#{teamUpId}
    </select>
    <!--我参与的跑腿任务-->
    <select id="myTakeTask" resultType="com.wang.tradingplatform.pojo.entity.Circle">
        SELECT c.id, c.type, c.bounty, c.request_content, c.note, c.user_id, c.create_time
        FROM circle c
        INNER JOIN accept_task at ON c.id = at.circleId
        WHERE at.userId = #{currentUserId}
        ORDER BY c.create_time DESC
    </select>
    <!--我加入的热门活动-->
    <select id="myJoinActivity" resultType="com.wang.tradingplatform.pojo.entity.Circle">
        SELECT c.id, c.user_id, c.title, c.picture, c.start_time, c.end_time, c.create_time
        FROM circle c
        INNER JOIN activity_join aj ON c.id = aj.activityId
        WHERE aj.userId = #{currentUserId}
        ORDER BY c.create_time DESC
    </select>
    <!--查看我发布的动态-->
    <select id="selectMyDynamic" resultType="com.wang.tradingplatform.pojo.entity.Circle">
        SELECT id,
        user_id,
        type,
        content,
        create_time,
        update_time
        FROM circle
        WHERE category = 'Dynamics'
        AND user_id = #{currentUserId}
    </select>
    <!--查看我发布的任务-->
    <select id="selectMyTask" resultType="com.wang.tradingplatform.pojo.entity.Circle">
        SELECT id,
        user_id,
        type,
        bounty,
        request_content,
        note,
        create_time
        FROM circle
        WHERE category = 'Task'
        AND user_id = #{currentUserId}
    </select>
    <!--查看我发布的活动-->
    <select id="selectMyActivity" resultType="com.wang.tradingplatform.pojo.entity.Circle">
        SELECT id,
        user_id,
        title,
        picture,
        start_time,
        end_time,
        create_time
        FROM circle
        WHERE category = 'Event'
        AND user_id = #{currentUserId}
    </select>
</mapper>