<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.tradingplatform.mapper.UserMapper">
    <!--注册的创建语句-->
    <insert id="insert" parameterType="com.wang.tradingplatform.pojo.entity.User">
        INSERT INTO user (user_id, user_name, password, account, status, balance, integral, credit, level, avatar,
        deleted)
        VALUES (#{userId}, #{userName}, #{password}, #{account}, #{status}, #{balance}, #{integral}, #{credit},
        #{level},
        #{avatar}, #{deleted})
    </insert>
    <!--添加收藏功能-->
    <insert id="addFavourite">
        insert into favourite (user_id, item_id) values (#{userId},#{itemId})
    </insert>
    <!--修改密码-->
    <update id="updateUserPassword">
        UPDATE `user` SET password = #{password} WHERE user.user_id = #{currentUserId}
    </update>
    <!--登录-->
    <select id="login" resultType="java.lang.Integer">
        select count(*) from user where account = #{account} and password = #{password} and deleted = 0
    </select>
    <!--查找用户账号-->
    <select id="selectName" resultType="java.lang.String">
        SELECT user_name FROM user WHERE account = #{string} AND deleted = 0
    </select>
    <!--根据用户id查询账号和名字-->
    <select id="selectAccountAndName" resultType="com.wang.tradingplatform.pojo.entity.User">
        SELECT user_name,account FROM user WHERE user_id = #{userId} AND deleted = 0
    </select>
    <!--查找用户的聊天列表  session的id列表-->
    <select id="selectUserSessionList" resultType="java.lang.Long">
        select session_id from session_user where u_id=#{currentUserId}
    </select>
    <!--根据session的id列表查找对应的聊天信息 并返回列表数据-->
    <select id="selectUserChatList" resultType="com.wang.tradingplatform.pojo.vo.ChatListVO">
        select
        id,
        session_id,
        from_uid,
        to_uid,
        avatar,
        title,
        send_time,
        nick_name,
        content
        from conversation
        where session_id in
        <foreach collection="sessionId" separator="," open="(" close=")" item="sid">
            #{sid}
        </foreach>
        order by send_time desc
    </select>
    <!--查看收藏功能-->
    <select id="selectFavourite" resultType="java.lang.Long">
        select item_id from favourite where user_id = #{userId}
    </select>
    <!--得到账号基本信息-->
    <select id="selectAccountInfo" resultType="com.wang.tradingplatform.pojo.entity.User">
        select user_id, user_name, account, status, level, integral, credit, balance, deleted, avatar from user where
        user_id= #{currentUserId};
    </select>

</mapper>