<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.tradingplatform.mapper.UserMapper">
    <!--注册的创建语句-->
    <insert id="insert" parameterType="com.wang.tradingplatform.pojo.entity.User">
        INSERT INTO user (user_id, user_name, password, account, status, balance, integral, credit, level, avatar, deleted)
        VALUES (#{userId}, #{userName}, #{password}, #{account}, #{status}, #{balance}, #{integral}, #{credit}, #{level},
        #{avatar}, #{deleted})
    </insert>
    <!--登录-->
    <select id="login" resultType="java.lang.Integer">
        select count(*) from user where account = #{account} and password = #{password} and deleted = 0
    </select>
    <!--查找用户账号-->
    <select id="selectName" resultType="java.lang.String">
        SELECT user_name FROM user WHERE account = #{string} AND deleted = 0
    </select>
    <!--根据用户Id查询用户账号与用户名-->
    <select id="selectAccountAndName" resultType="java.lang.String">
        SELECT account, user_name FROM user WHERE user_id = #{userId} AND deleted = 0
    </select>
</mapper>